
services:
    n8n:
        image: n8n-env:1.119.2
        build:
            context: .
            dockerfile: n8n.Dockerfile
        restart: always
        container_name: n8n
        ports:
          - "80:80"
        environment:
          - DB_TYPE=postgresdb
          - DB_POSTGRESDB_HOST=postgres 
          - DB_POSTGRESDB_PORT=${DATABASE_PORT}
          - DB_POSTGRESDB_DATABASE=postgres
          - DB_POSTGRESDB_USER=${DATABASE_USERNAME}
          - DB_POSTGRESDB_PASSWORD=${DATABASE_PASSWORD}
          - NODE_FUNCTION_ALLOW_EXTERNAL=*
          - N8N_SECURE_COOKIE=false
          - N8N_USER_EMAIL=${N8N_INITIAL_USER}
          - N8N_USER_PASSWORD=${N8N_USER_PASSWORD}
          - N8N_ENCRYPTION_KEY=${N8N_SECRET_KEY}
          - N8N_EDITOR_BASE_URL=${N8N_EDITOR_BASE_URL}
          - N8N_HOST=${N8N_HOST}
          - N8N_PORT=${N8N_PORT}
          - WEBHOOK_URL=${WEBHOOK_URL}
          - N8N_PROXY_HOPS=${N8N_PROXY_HOPS}
          - N8N_PROTOCOL=${N8N_PROTOCOL}
          - TZ=Asia/Taipei
        
        depends_on:
            postgres:
                condition: service_healthy
        
        volumes:
            - ./data/n8n:/home/node/.n8n

    postgres:
        image: postgres:14-alpine
        container_name: n8n-postgres
        restart: always
        ports:
            - "${DATABASE_PORT}:5432"
        environment:
            - POSTGRES_USER=${DATABASE_USERNAME}
            - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
            - POSTGRES_DB=postgres
        
        volumes:
            - ./data/postgres:/var/lib/postgresql/data

        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
            interval: 10s # 每 10 秒檢查一次
            timeout: 5s   # 等待 5 秒
            retries: 5    # 失敗 5 次後宣告不健康
