DATABASE_PORT=5432
DATABASE_USERNAME=n8n
DATABASE_PASSWORD=n8n
N8N_INITIAL_USER=hudeneil@gmail.com
N8N_USER_PASSWORD=stDM9906
N8N_SECRET_KEY=a_long_random_string_for_security_1234567890
N8N_EDITOR_BASE_URL=https://dev.mimicfc.com
N8N_HOST=dev.mimicfc.com
N8N_PORT=80
WEBHOOK_URL=https://dev.mimicfc.com
N8N_PROXY_HOPS=1
N8N_PROTOCOL=http
